/* media Query */
@media(max-width:768px){
  nav{
    max-width: 100%;
  }
  #sidebar{
    margin-left: -100%;
  }
  #sidebar.active{
    margin-left: 0%;
  }
  #content{
    width: 100%;
    margin-left: 0%;
  }
  #content.active{
    width:calc(100%-10%);
  }
  .bio{
   margin: 0 10px;
  }
 .about{
   flex-direction: column;
 }
 .btn{
   flex-direction: column;
 }
 .menu-bar{
   display: block;
 }
 .hide{
   display: block;
 }
 .btn__download,.btn__view{
   width: 200px;
   margin-top: 10px;
 }
 .about__text p{
   width: 100%;
 }
 .about__img{
   width: 100%;
 }
 .about__img img{
  width: 100%;
}
.about-service__grid{
 grid-template-columns: 1fr 1fr;
}
.project__text h3{
  font-size: 15px;
}
}


@media(max-width:480px){
  #sidebar{
    margin-left: -100%;
  }
  #sidebar.active{
    margin-left: 0%;
  }
  #content{
    width: 100%;
    margin-left: 0%;
  }
  #content.active{
    width:calc(100%-10%);
  }
  .about-service__grid{
    grid-template-columns: 1fr;
   }
   .skills{
   
   grid-template-columns: 1fr;
    
  }
  .projects{
    grid-template-columns: 1fr;
  }
  .contact__form{
    width: 90%;
  }
  .form__item{
    width: 100%;
  }
 
}
