/* media Query */
@media(max-width:1080px){

  .container{
    padding: 0 20px;
    margin-top: 0;
    width: 70%;
    margin-left: 30%;
    color: #F7F6FB;
    transition: 0.5s;
  
  }
  nav{
  max-width: 30%;

  }
  .about-service__grid{
 grid-template-columns:  1fr 1fr 1fr;

  }
}

@media(max-width:768px){
  nav{
    max-width: 100%;
  }
  .about__img{
    width: 60% !important;
    padding: 1rem;
    /* margin: 0 auto; */
  }
  #sidebar{
    margin-left: -100%;
  }
  #sidebar.active{
    margin-left: 0%;
  }
  #content{
    width: 100%;
    margin-left: 0%;
  }
  #content.active{
    width:calc(100%-10%);
  }
  .bio{
   margin: 0 10px;
  }
 .about{
   flex-direction: column;
   flex-direction: column-reverse;
 }
 
 .btn{
   flex-direction: column;
 }
 .menu-bar{
   display: block;
 }
 .hide{
   display: block;
 }
 .btn__download,.btn__view{
   width: 200px;
   margin-top: 10px;
 }
 .about__text p{
   width: 100%;
 }
 .about__img{
   width: 100%;
 }
 .about__img img{
  width: 100%;
}
.about-service__grid{
 grid-template-columns: 1fr 1fr;
}
.project__text h3{
  font-size: 15px;
}
.resume__content{
  width: 100% !important;
}
}


@media(max-width:480px){
  #sidebar{
    margin-left: -100%;
  }
  #sidebar.active{
    margin-left: 0%;
  }
  #content{
    width: 100%;
    margin-left: 0%;
  }
  #content.active{
    width:calc(100%-10%);
  }
  .about-service__grid{
    grid-template-columns: 1fr;
   }
   .skills{
   
   grid-template-columns: 1fr;
    
  }
  .projects{
    grid-template-columns: 1fr;
  }
  .contact__form{
    width: 90%;
  }
  .form__item{
    width: 100%;
  }
  .robo__project{
    width: 100%;
    text-align: start;
  }
  .robo__project h1{
    font-size: 18px;
}
.robo__project h5{
  width: 100% !important;
  
}
.tech__req__details,.proj__design__img{
  grid-template-columns: 1fr !important;
}
.resume__content__header,.resume__summary,.resume__knowlegde{
  flex-direction: column;
}
.resume__social{
  padding: 15px 0;
  justify-content: flex-start;
}
.resume__img{
  text-align: center;
}
.resume__skill,.resume__edu{
  width: 100% !important;
}
}
